* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider {
    position: relative;
    img {
        z-index: -1;
        width: 100%;
    }
    #Previous, #Next {
        position: absolute;
        transform: translate(-50, -50%);
        top: 50%;
        display: flex;
        align-items: center;
        color: #333333;
        border-radius: 100%;
        font-size: 25px;
    }
    #Previous { left: -25px; }
    #Next { right: -25px; }
}